@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

:root {
    /* Colors */
    --clr-body-bg: #202020;
    --text: #f2f2f2;
    --background: #231c1c;
    --primary: #ba372f;
    --secondary: #b5632f;
    --accent: #edb934;

    /* shades */
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;
    
    --background-50: #f4f1f1;
    --background-100: #e8e3e3;
    --background-200: #d2c6c6;
    --background-300: #bbaaaa;
    --background-400: #a48e8e;
    --background-500: #8e7171;
    --background-600: #715b5b;
    --background-700: #554444;
    --background-800: #392d2d;
    --background-900: #1c1717;
    --background-950: #0e0b0b;
    
    --primary-50: #faebeb;
    --primary-100: #f5d8d6;
    --primary-200: #ebb0ad;
    --primary-300: #e08985;
    --primary-400: #d6625c;
    --primary-500: #cc3b33;
    --primary-600: #a32f29;
    --primary-700: #7a231f;
    --primary-800: #521714;
    --primary-900: #290c0a;
    --primary-950: #140605;
    
    --secondary-50: #faf0eb;
    --secondary-100: #f5e2d6;
    --secondary-200: #eac5ae;
    --secondary-300: #e0a885;
    --secondary-400: #d58b5d;
    --secondary-500: #cb6e34;
    --secondary-600: #a2582a;
    --secondary-700: #7a421f;
    --secondary-800: #512c15;
    --secondary-900: #29160a;
    --secondary-950: #140b05;
    
    --accent-50: #fdf7e8;
    --accent-100: #fbefd0;
    --accent-200: #f7dfa1;
    --accent-300: #f3ce72;
    --accent-400: #efbe43;
    --accent-500: #ebae14;
    --accent-600: #bc8b10;
    --accent-700: #8d680c;
    --accent-800: #5e4608;
    --accent-900: #2f2304;
    --accent-950: #171102;    

     /* Gradients */

    /* Typography */
    --fs-1000: clamp(3rem, -0.0347rem + 12.9480vw, 10rem);
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.75rem;
    --fs-650: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;
    --fs-100: clamp(0.625rem, 0.3365rem + 1.2308vw, 0.875rem);
    --ff-header: "Inter", sans-serif;
    --ff-body: "Inter", sans-serif;

    --border-radius: 20px;
    --max-width: 1240px;
    --min-width: 375px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* ul {
    list-style-type: none;
}

* ul a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-header);
    line-height: 1.1;
}

button {
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    color: inherit;
}

body {
    line-height: 1.5;
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    font-weight: 400;
    max-width: var(--max-width);
    min-width: var(--min-width);
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    background: url('https://wallpapers.com/images/high/grunge-background-opl36t7t4i515exo.webp') no-repeat center;
    background-size: cover;
    color: var(--text);
}

.container {
    margin: auto;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
        "card-1 card-1"
        "card-2 card-3";
    place-items: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none;
}
/* --------------------- */

.slide-left {
    transform: translateX(-100vw);
}

.slide-right {
    transform: translateX(100vw);
}

.slide-up {
    transform: translateY(-100vh);
}

.slide-down {
    transform: translateY(100vh);
}

.scale-up {
    transform: scale(1.2);
}

.scale-down {
    transform: scale(0);
}

.rotate-25 {
    transform: rotateX(.25turn);
}

.scale,
.slide,
.rotate {
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

/* --------------------- */

section {
    padding: 2rem;
    backdrop-filter: blur(16px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    background-color: rgba(35, 28, 28, 0.25);
    border-radius: 12px;
    border: 5px solid rgba(209, 213, 219, 0.3);
}

#card-1 { grid-area: card-1; }
#card-2 { grid-area: card-2; }
#card-3 { grid-area: card-3; }

.grid {
    display: grid;
    gap: 1.5rem
}

#card-1 > .grid {
    grid-auto-rows: min-content;
    grid-template-areas: 
    "user"
    "button";
    place-items: center;
}

#card-2 > .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas: 
    "user button"
    "bio bio";
}

#card-3 > .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-template-areas: 
    "user button"
    "bio bio"
    "metrics metrics";
}

.user {
    grid-area: user;
    display: grid;
    grid-auto-rows: min-content;
    gap: 1.5rem;
}

#card-1 .user {
    padding-inline: 2rem;
}

.avatar {
    aspect-ratio: 1;
    width: 120px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(
        var(--secondary-500),
        var(--secondary),
        var(--secondary-600),
        var(--primary-500),
        var(--primary),
        var(--primary-600),
        var(--secondary-600) 350deg,
        var(--secondary-500) 360deg
    );
    outline: 2px solid var(--accent);
}

.avatar > img {
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1;
    width: 90px;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0, .5));
    transform: translate(-50%, -50%);
}

.name-bl {
    display: grid;
    grid-auto-rows: min-content;
    gap: .5rem;
}

.name-bl > h1 {
    color: var(--accent);

}

.handle {
    color: var(--text-400);
}

.btn {
    text-transform: capitalize;
    border-radius: var(--border-radius);
    border: 2px solid var(--btn-border-color, transparent);
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    z-index: 1;    
}

.btn::after {
    content: "";
    position: absolute;
    inset: 100% 0% 0% 0%;
    background: var(--btn-hover-bg-color);
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.btn:hover {
    color: var(--btn-hover-text-color, transparent);
    border-color: var(--btn-hover-border-color, transparent);
}

.btn:hover::after {
    inset: 0;
}

#follow {
    --btn-bg-color: var(--secondary);
    --btn-text-color: var(--background-50);
    --btn-border-color: var(--secondary);
    --btn-hover-bg-color: var(--accent);
    --btn-hover-text-color: var(--background);
    --btn-hover-border-color: var(--accent);
    grid-area: button;
    align-self: start;
    justify-self: end;
    text-transform: capitalize;
    font-weight: 700;
    width: 150px;
    padding-block: .75em;
    border-radius: 100px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 4px 6px -4px rgb(0 0 0 / 0.5);
}

#follow.following {
    --btn-bg-color: var(--background);
}

#card-1 #follow {
    justify-self: center;
}

.user-bio {
    grid-area: bio;
}

#card-2 .user-bio {
    max-width: 32ch;
}

#card-3 .user-bio {
    max-width: 30ch;
}

.metrics {
    grid-area: metrics;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
}

.metric {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--text-400);
}

.value {
    color: var(--background);
    color: var(--text);
    font-weight: 700;
    min-width: fit-content;
}

.separator {
    aspect-ratio: 1;
    width: .5rem;
    border-radius: 50%;
    background: var(--text-500);
}

/* CSS styles for mobile devices */
@media (max-width: 975px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: 
            "card-1"
            "card-2"
            "card-3";
    }
}

@media (max-width: 410px) {
    #card-2 > .grid,
    #card-3 > .grid {
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-template-areas: 
        "user"
        "button"
        "bio"
        "metrics";
        place-items: center;
    }

    #follow {
        justify-self: center;
    }

    .user-bio {
        text-align: center;
    }

    .metrics {
        flex-direction: column;
        justify-content: center;
    }

    .separator {
        display: none;
    }
}
